body{
    padding: 0;
    margin: 0;
    background-color: rgb(16, 17, 15);
}
button{
    background-color:chartreuse;
    border: none;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 20px 50px;
    font-size: 30px;
    font-weight: bold;
}